<div class="tab-pane fade show active profile-overview" id="profile-overview">

                                            <h5 class="card-title">Student Details</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                                <div id="detailName" class="col-lg-9 col-md-8">@Model.info.Student.LastName @Model.info.Student.OtherNames</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Student No</div>
                                                <div id="detailStdNo" class="col-lg-9 col-md-8">@Model.info.IDCard.StudentNo</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Index No</div>
                                                <div id="detailIndexNo" class="col-lg-9 col-md-8">@Model.info.IDCard.IndexNo</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Program</div>
                                                <div id="detailProgram" class="col-lg-9 col-md-8">@Model.info.Program.ProgramName</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Faculty</div>
                                                <div id="detailFaculty" class="col-lg-9 col-md-8">@Model.info.Student.Faculty</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">College</div>
                                                <div id="detailCollege" class="col-lg-9 col-md-8">@Model.info.Student.College</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div id="detailPhone" class="col-lg-9 col-md-8">@Model.info.Student.Phone</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div id="detailEmail" class="col-lg-9 col-md-8">@Model.info.Student.Email</div>
                                            </div>

                                        </div>