<div class="tab-pane fade show active profile-overview" id="profile-overview">

                                            <h5 class="card-title">Student Details</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                                <div class="col-lg-9 col-md-8">@Model.Student.LastName @Model.Student.OtherNames</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Student No</div>
                                                <div class="col-lg-9 col-md-8">@Model.IDCard.StudentNo</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Index No</div>
                                                <div class="col-lg-9 col-md-8">@Model.IDCard.IndexNo</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Program</div>
                                                <div class="col-lg-9 col-md-8">@Model.Program.ProgramName</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Faculty</div>
                                                <div class="col-lg-9 col-md-8">@Model.Student.Faculty</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">College</div>
                                                <div class="col-lg-9 col-md-8">@Model.Student.College</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div class="col-lg-9 col-md-8">@Model.Student.Phone</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">@Model.Student.Email</div>
                                            </div>

                                        </div>