<div class="tab-pane fade show active profile-overview" id="profile-overview">

                                            <h5 class="card-title">Lecturer Details</h5>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                                <div class="col-lg-9 col-md-8">@Model.lecturer.LastName @Model.lecturer.OtherNames</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Lecturer No</div>
                                                <div class="col-lg-9 col-md-8">@Model.lecturer.LecturerNo</div>
                                            </div>


                                           @* <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Course</div>
                                                <div class="col-lg-9 col-md-8">@Model</div>
                                            </div>*@

                                           

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Phone</div>
                                                <div class="col-lg-9 col-md-8">@Model.lecturer.Phone</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label">Email</div>
                                                <div class="col-lg-9 col-md-8">@Model.lecturer.Email</div>
                                            </div>

                                        </div>